#style {
    margin: 10px;
    width: 225px;
    color: white;
    border-radius: 15px;
    display: flex; /* Aplica 'display: flex;' al contenedor */
    flex-direction: column;
    margin-bottom: 30px;
    /* Otros estilos que desees aplicar */
  }
  
  #style a {
    background-color: rgba(255, 255, 255, 0.86);
    padding: 5px 15px;
    border-radius: 5px;
    color: #32414f;
    margin-top: auto; /* Coloca el botón al final del div */
    text-align: center; 
    text-decoration: none;
  }
  
  #style a:hover {
    background-color: rgba(165, 165, 165, 0.86); /* Color de fondo al pasar el ratón */
    color: white;
}
  
 body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('imagen/dex-ezekiel-IxDPZ-AHfoI-unsplash.jpg'); 
    background-size: cover; /* Escala la imagen de fondo para cubrir todo el área del cuerpo */
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-attachment: fixed; /* Fija la imagen de fondo en su posición */
}
  
#container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 110px; 
    margin-right: 110px;
}

#contenedor {
    margin-top: 20px; 
    text-align: center; 
}

img {
    object-fit: cover; width:225px;height:350px;
     }

#subtitulo {
    font-size: 25px;
    color: white;
 }
 #titulo{
    font-size: 50px;
    background-color: #32414f82;
    padding: 5px 20px;
    border-radius: 20px;
    color: white;
 }
 #subtNombre {
    border-radius: 5px;
    font-size: 16px;
 }

 /* Estilos para el campo de entrada (input) */
#animeTitulo {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    outline: none; /* Elimina el resaltado del borde en enfoque */
}

/* Estilos para el botón (button) */
#obtenerInfo {
    padding: 10px 20px;
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    outline: none; /* Elimina el resaltado del borde en enfoque */
}

/* Cambiar estilo del botón al pasar el ratón */
#obtenerInfo:hover {
    background-color: #0056b3; /* Color de fondo al pasar el ratón */
}
